@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');

body {
    margin: 0;
    width: 100%;
    font-family: 'Jaldi', sans-serif;
}

header {
    background-color: #128FC8;
    height: 5dvh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
}

header .logo {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.botao-header {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
    background: none;
    border: 2px white solid;
    border-radius: 1.25em;
    padding: 0.25em 0.25em;
    font-weight: bold;
    transition: .5s;
    color: white;
    cursor: pointer;
}

main {
    padding: 0 2em;
    margin-top: 7.5dvh;
}

button {
    font-family: 'Jaldi', sans-serif;
}